/*FOOTER*/

.zocalo__imag--center{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
  .zocalo__fondo--pink{
    background-color: rgb(236, 176, 174);
    margin-top: 15px;
    width: 100%;
    }
  .zocalo__mapa--style{
    font-family: 'Noticia Text', serif;
    font-size: 17px;
    text-align: center;
    color: white;
    padding-bottom: 5px;
  }